.order-comfirmation{
    width: 95%;
    border: 1px solid red;
    min-height: 50vh;
    text-align: left;
    padding: 10px 20px;
}
.order-comfirmation-child{
    display: flex;
}

.order-comfirmation-child1 {
    width: 60%;
    border: 1px solid red;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 10px; 
  }

.order-comfirmation-child2{
    width: 40%;
    border: 1px solid rgb(7, 77, 4);
  }