
.product-list {
  width: 77%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  /* margin-left: 24%; */
  min-height: 62vh;
}
.product-list-NoData{
  width: 77%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  /* margin-left: 24%; */
  min-height: 62vh;
}
.wishList_Side_bar{
  width: 22%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 75vh;
}
.anticon svg{
  text-align: center;
}
.product-list-Individual-main-div {
  display: flex;
  min-height: 270px;
  max-height: 300px;
  gap: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: rgb(248, 249, 250);
  border-radius: 5px;
}
.product-list-Individual-main-div > div {
  flex: 1;
  padding: 20px;
}

.product-list-Individual-main-div-mobile{
  flex: 0.6 !important;
  padding: 25px;
}
.product-list-Individual-main-div-tvs{
  flex: 1.6 !important;
  padding: 25px;
}
.product-list-Individual-main-div > div:nth-child(2) {
  flex: 2;
  text-align: left;
  font-size: 13px;
  line-height: 30px;
  overflow: hidden;
}
.rating-revies-row{
font-size: 14px;
font-weight: 550;
color: #878787;
}
.product-list-Individual-main-div > div:nth-child(1) img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.product-list-Individual-main-div > div:nth-child(3) > div {
  line-height: 5px;
}
.product-list-Individual-main-div > div:nth-child(3) > div:nth-child(1) {
  font-size: 22px;
  font-style: italic;
  font-weight: 550;
  padding: 10px 5px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.product-list-Individual-main-div > div:nth-child(3) img {
  width: 30%;
  height: 30px;
  border-radius: 10px;
}
.product-list-Individual-main-div > div:nth-child(3) > div:nth-child(2) {
  font-size: 15px;
  font-weight: 550;
  padding: 10px 5px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.product-list-Individual-main-div > div:nth-child(3) > div:nth-child(3) {
  font-size: 13px;
  padding: 10px 5px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.product-list-Individual-main-div > div:nth-child(3) > div:nth-child(4) {
  font-size: 14px;
  padding: 10px 5px;
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  line-height: 15px;
}
.product-list-Individual-main-div > div:nth-child(3) > div:nth-child(5) {
  font-size: 15px;
  padding: 10px 5px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.product-list-Individual-main-div:hover .product-title {
  color: rgb(0, 160, 151);
}
.product-list-Individual-main-div:hover {
  cursor: pointer;
}

/* Product Image section */

.product-individual-images-main {
  width: 40%;
  height: 100vh;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}
.product-individual-images-main2 {
  width: 100%;
  height: 65%;
  display: flex;
  padding: 10px 10px;
  padding-right: 0px;
}
.product-individual-images-main2 > div:nth-child(1) {
  width: 20%;
  height: 95%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  overflow: scroll;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border-radius: 10px;
}
.product-individual-images-main2 > div:nth-child(1)::-webkit-scrollbar {
  display: none;
}

.product-individual-images-main2 > div:nth-child(1) img {
  height: 20%;
  width: 50%;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  padding: 10px;
  cursor: pointer;
}
.product-individual-images-main2 > div:nth-child(2) {
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-individual-images-main2 > div:nth-child(2) img {
  max-height: 60vh;
  width: 100%;
  border-radius: 10px;
  padding: 30px;
}

.product-individual-images-main > div:nth-child(2) {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.product-individual-images-main .ant-btn-primary{
  width: 35%;
  height: 6vh;
}

/* Product Details Dection  */

.product-individual-main {
  width: 60%;
  background-color: rgb(251, 251, 251);
  height: 100vh;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
  text-align: left;
  padding: 20px;
  overflow: scroll;
}

.product-individual-main::-webkit-scrollbar {
  display: none;
}

.product-individual-main > div:nth-child(3) {
  font-size: 13px;
  line-height: 30px;
}
.product-individual-main > div:nth-child(2),
.product-individual-main > div:nth-child(3),
.product-individual-main > div:nth-child(4),
.product-individual-main > div:nth-child(5),
.product-individual-main > div:nth-child(6),
.product-individual-main > div:nth-child(7),
.product-individual-main > div:nth-child(8),
.product-individual-main > div:nth-child(9) {
  font-size: 13px;
  line-height: 30px;
  display: flex;
  gap: 30px;
  margin-top: 10px;
  padding: 0px;
}
.product-individual-main > div:nth-child(4){
gap:10px !important
}
.product-individual-main > div > ul {
  padding: 0px;
  margin: 0px;
  font-weight: 550;
  font-size: 0.8rem;
  line-height: 20px;
  color: grey;
  width: 100px;
}

.product-individual-main > div:nth-child(3) {
  line-height: 20px;
  gap: 60px;
}
.product-individual-main .ant-input-search-button{
background-color: brown;
}


/* Product FrontPage */

.frontPage-listing-item{
  text-align: left;
  padding: 30px;
}

.frontPage-listing-item h4{
 padding: 10px 0px;
 margin: 0px;
 margin-top: 20px;
 font-size: clamp(10px,20vw,16px);
}
.product-slider-main-div-mobile{
  height: auto;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 5px;
}

.product-slider-main-div-mobile img{
  width: 50%;
  height: 200px;
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.product-slider-main-div-tvs{
  height: auto;
  max-height: 40vh;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 5px 0px;
  border-radius: 5px;
}
.product-slider-main-div-tvs>img{
  width: clamp(30%,30vw,90%);
  /* width: 90%; */
  height: 180px;
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.swiper-slide {
  text-align: center;
  font-size: 18px; 
  margin-top: 20px;
  margin-bottom: 20px;
}
.brand-name{
color: white;
background: linear-gradient(to left, #6e84a9, #244c90);
padding: 10px 30px;
font-weight: 550;
font-style: italic;
border-radius: 5px 20px;
}
.category-name{
color: rgb(240, 235, 235);
background: linear-gradient(to right, #41567b, #182336);
padding: 15px 80px;
font-weight: 550;
font-style: italic;
border-radius: 30px 10px;
float: right;
}
.product-slider-front-bottom-div{
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
  font-size: clamp(10px,12px,16px);
}
.product-slider-front-bottom-div>div:nth-child(1){
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: clamp(10px,4vw,16px);
}
.product-slider-front-bottom-div>div:nth-child(1)> p{
  font-size: 0.9rem;
  color: green;
  font-weight: 550;
}
.frontPage-productDisplay-brandrow{
  margin: 20px;
}
.frontPage-readMore-op{
  cursor: pointer;
  text-align: left;
  color: #222F47;
  font-size: 1rem;
  padding-left: 20px;
  font-style: italic;
  font-weight:550;
}

@media screen and (max-width: 768px) {
  .brand-name{
    padding: 5px 10px;
    font-weight: 500;
    font-size: 12px;
    border-radius: 5px 10px;
    }
    .category-name{
    padding: 5px 30px;
    font-weight: 500;
    border-radius: 30px 10px;
    }
    .product-slider-main-div-mobile img{
      width: 50%;
      height: 200px;
      border-radius: 5px;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }
    .product-slider-front-bottom-div{
      justify-content: space-evenly;
      padding: 5px 20px;
    }
    .product-slider-main-div-tvs>img{
      width: 70%;
    }

    /* Image Section media query */

    .product-individual-images-main {
      width: 100%;
      margin: 0px;
      padding: 0px;
      height: 80vh;
      box-shadow:none;
    }
    .product-individual-images-main2 {
      max-width: 100%;
      flex-direction: column-reverse;
      align-items: center;
      gap: 10px;
      height: 80%;
      padding: 0px;
    }
    .product-individual-images-main2 > div:nth-child(1) {
      width: 95%;
      height: 20%;
      display: flex;
      flex-direction: row;
      gap: 15px;
      align-items: center;
      justify-content: center;
      padding: 5px 0px;
    }
    .product-individual-images-main2 > div:nth-child(1)::-webkit-scrollbar {
      display: none;
    }
    
    .product-individual-images-main2 > div:nth-child(1) img {
      height: 80%;
      width: 100%;
    }
    .product-individual-images-main2 > div:nth-child(2) {
      width: 100%;
      height: 80%;
    }
    .product-individual-images-main2 > div:nth-child(2) img {
      height: 40vh;
      width: 100%;
      border-radius: 10px;
      padding: 10px;
    }
    .product-individual-images-main > div:nth-child(2) {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      margin-top: 20px;
    }
    .product-individual-images-main .ant-btn-primary{
      font-size: 0.9rem;
    }
 

    /* product details media query */

    .product-individual-main {
      width: 100%;
      height: auto;
      border-radius: 1px;
      text-align: left;
      padding: 0px ;
      overflow:visible;
    }
    
    .product-individual-main::-webkit-scrollbar {
      display: none;
    }
    
    .product-individual-main > div:nth-child(3) {
      font-size: 13px;
      line-height: 30px;
    }
    .product-individual-main > div:nth-child(2),
    .product-individual-main > div:nth-child(3),
    .product-individual-main > div:nth-child(4),
    .product-individual-main > div:nth-child(5),
    .product-individual-main > div:nth-child(6),
    .product-individual-main > div:nth-child(7),
    .product-individual-main > div:nth-child(8),
    .product-individual-main > div:nth-child(9) {
      font-size: 12px;
      line-height: 23px;
      display: flex;
      gap: 20px;
      margin-top: 10px;
      padding: 0px;
    }
    .product-individual-main > div > ul {
      font-size: 0.9rem;
      line-height: 20px;
    }
    .product-individual-main>h2:nth-child(1){
      text-align: center;
    } 
    .product-individual-main > div:nth-child(2), 
    .product-individual-main > div:nth-child(4){
      justify-content: center;
      /* border: 1px solid red; */
    }
    .product-individual-main>h4{
      text-align: center;
    } 



    /* product Listing media queries */

    .product-list {
      width: 100%;
      margin-left: 0px;
    }
    .product-list-Individual-main-div {
      display: flex;
      height: 250px;
      gap: 2px;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      background-color: rgb(248, 249, 250);
      border-radius: 5px;
    }
    .product-list-Individual-main-div > div {
      flex: 1;
      padding: 5px;
    }
    .rating-revies-row{
      font-size: 12px;
      font-weight: 550;
      color: #878787;
    }
    
    .product-list-Individual-main-div-mobile{
      flex: 1 !important;
      padding: 10px;
    }
    .product-list-Individual-main-div-tvs{
      flex: 1.6 !important;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
    }
    .product-list-Individual-main-div-tvs img{
     max-width: 100% !important;
     height: 50% !important;
    }
    .product-list-Individual-main-div > div:nth-child(2) {
      flex: 1.5;
      text-align: left;
      font-size: 10px;
      line-height: 20px;
      overflow: hidden;
      padding-bottom: 10px;
    }
    .product-list-Individual-main-div > div:nth-child(1) img {
      width: 100%;
      height: 100%;
      border-radius: 10px;
    }
    .product-list-Individual-main-div > div:nth-child(3) > div {
      line-height: 10px;
    }
    .product-list-Individual-main-div > div:nth-child(3) > div:nth-child(1) {
      font-size: 16px;
    }
    .product-list-Individual-main-div > div:nth-child(3) img {
      width: 30%;
      height: 20px;
    }
    .product-list-Individual-main-div > div:nth-child(3) > div:nth-child(2) {
      font-size: 12px;
    }
    .product-list-Individual-main-div > div:nth-child(3) > div:nth-child(3) {
      font-size: 11px;
    }
    .product-list-Individual-main-div > div:nth-child(3) > div:nth-child(4) {
      font-size: 11px;
      padding: 10px 5px;
      line-height: 10px;
    }
    .product-list-Individual-main-div > div:nth-child(3) > div:nth-child(5) {
      font-size: 12px;
      padding: 10px 5px;
      cursor: pointer;
    }
    
    .product-list-Individual-main-div:hover .product-title {
      color: rgb(0, 160, 151);
    }
    .product-list-Individual-main-div:hover {
      cursor: pointer;
    }
    .wishList_Side_bar{
      display: none;
    }
    .product-list-NoData{
      width: 100%;
    }
    .deleteIcon{
      font-size: 3rem;
      width: 15%;
      height: 6%;
      cursor: pointer;
    }
}
